apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.appName }}-api
  namespace: {{ .Values.namespace }}
spec:
  type: NodePort
  selector:
    app: {{ .Values.appName }}-api
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      nodePort: 30080 