apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.appName }}-redis
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.appName }}-redis
  template:
    metadata:
      labels:
        app: {{ .Values.appName }}-redis
    spec:
      containers:
        - name: redis
          image: {{ .Values.redis.image }}
          ports:
            - containerPort: {{ .Values.redis.port }}