namespace: celery

image:
  repository: celery-workflows
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 2

redis:
  image: redis:7
  port: 6379
  storage: 2Gi

api:
  port: 8000
  nodePort: 30080

flower:
  port: 5555
  nodePort: 30555

seaweedfs:
  enabled: true

  master:
    replicas: 1
    data:
      type: "persistentVolumeClaim"
      size: "5Gi"
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 256Mi

  volume:
    replicas: 1
    dataDirs:
      - name: data
        type: "persistentVolumeClaim"
        size: "5Gi"
        maxVolumes: 0
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi

  filer:
    enabled: true
    port: 8899
    nodePort: 30899
    data:
      type: "persistentVolumeClaim"
      size: "5Gi"
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 256Mi

  s3:
    enabled: true
    enabledAuth: true
    existingConfigSecret: seaweedfs
    port: 8333
    service:
      type: ClusterIP
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 256Mi