namespace: celery

image:
  repository: celery-workflows
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 2

redis:
  image: redis:7
  port: 6379

flower:
  port: 5555
  nodePort: 30555

seaweedfs:
  enabled: true

  filer:
    enabled: true
    port: 8899
    nodePort: 30899

  master:
    replicas: 1

  volume:
    replicas: 1

  s3:
    enabled: true
    enabledAuth: true
    existingConfigSecret: seaweedfs
    port: 8333
    service:
      type: ClusterIP

  # Persistenz activated
  volumeClaimTemplates:
    enabled: true
    storage: 5Gi